{% extends 'portfolio/base.html' %}
{% block content %}
{% load mathfilters %}
{% load humanize %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Eagle Financial</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: beige;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Eagle Financial Services, your Midwest Financial Services Partner.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 style="padding-left: 15Px">Customer Portfolio</h1>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
    </div>
     <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Portfolio Initial Investments</th>
                <th>Portfolio Current Investments</th>
                <th>Grant Total Results</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sum_of_initial_stock_value|addition:sum_acquired_value|floatformat:2|intcomma }}</td>
                    <td>{{ sum_current_stocks_value|addition:sum_recent_value|floatformat:2|intcomma }}</td>
                    <td>{{ overall_investment_results|addition:overall_stocks_results|floatformat:2|intcomma }} or €{{ decimal_exchange_value }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <h2 style="padding-left: 15Px">Stocks Information</h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Initial Stock Price</th>
                <th>Initial Stock Value</th>
                <th>Current Stock Price</th>
                <th>Current Stock value</th>
                <th>Results</th>

            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.customer }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares|intcomma }}</td>
                    <td>{{ stock.purchase_price|intcomma }}</td>
                    <td>{{ stock.initial_stock_value|intcomma}}</td>
                    <td>{{ stock.current_stock_price|intcomma}}</td>
                    <td>{{ stock.current_stock_value|intcomma}}</td>
                    <td>{{ stock.current_stock_value|sub:stock.initial_stock_value|floatformat:2|intcomma}}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

     <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Total of Initial Stocks</th>
                <th>Total of Current Stocks</th>
                <th>Results</th>

            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sum_of_initial_stock_value|floatformat:2|intcomma }}</td>
                    <td>{{ sum_current_stocks_value|intcomma }}</td>
                    <td>{{ overall_stocks_results|floatformat:2|intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>

     <div class="row">
        <h2 style="padding-left: 15Px">Investment Information</h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer</th>
                <th>Category</th>
                <th>Description</th>
                <th>Acquired Value</th>
                <th>Acquired Date</th>
                <th>Recent Value</th>
                <th>Recent Date</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
                {% for invest in investments %}
                <tr>
                    <td>{{ invest.customer }}</td>
                    <td>{{ invest.category }}</td>
                    <td>{{ invest.description }}</td>
                    <td>{{ invest.acquired_value }}</td>
                    <td>{{ invest.acquired_date }}</td>
                    <td>{{ invest.recent_value}} </td>
                    <td>{{ invest.recent_date}} </td>
                    <td>{{ invest.recent_value|sub:invest.acquired_value|floatformat:2|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

     <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Total of Initial Investments</th>
                <th>Total of Current Investments</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sum_acquired_value|floatformat:2|intcomma }}</td>
                    <td>{{ sum_recent_value|floatformat:2|intcomma }}</td>
                    <td>{{ overall_investment_results|floatformat:2|intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}